<div class="dashboard-container">
  <div class="row">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="dashboard-card">
        <div class="card-header">
          <h5 class="card-title">Total des élèves inscrits</h5>
        </div>
        <div class="card-body">
          <div class="card-value">{{ totalEleves }}</div>
        </div>
      </div>
    </div>



    <div class="col-lg-3 col-md-6 mb-4">
      <div class="dashboard-card">
        <div class="card-header">
          <h5 class="card-title">Paiements effectués</h5>
        </div>
        <div class="card-body">
          <div class="card-value">{{ totalPayments }}</div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="dashboard-card">
        <div class="card-header">
          <h5 class="card-title">Nombre de bulletins générés</h5>
        </div>
        <div class="card-body">
          <div class="card-value">{{ totalBulletins }}</div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="dashboard-card">
        <div class="card-header">
          <h5 class="card-title">Revenus totaux</h5>
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>

  </div>




</div>