<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">

    <div class="ml-auto">
        <!-- Barre de recherche -->
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Rechercher..." />

        </div>
    </div>


    <div class="d-flex left-section">
        <!-- Icône d'alarme -->
        <button class="btn btn-light position-relative">
            <i class="fas fa-bell"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge bg-danger">3</span>
        </button>

        <!-- Icône de profil + Nom -->
        <div class="profile">
            <span class="admin_name" style="font-size: 12px">
                Welcome <br /> {{ userRole }}
            </span>
            <img src="../../../../assets/profil.png" alt="LE LLOG">
        </div>


    </div>


</nav>