/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f7f9fb;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Conteneur principal */
.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  padding-left: 210px;

}

/* Box */
.box {
  display: flex;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  width: 100%;
  max-width: 960px;
  height: 85vh;
}

/* Partie gauche */
.left {
  background-color: #bfdbfe;
  width: 40%;
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 90px;
  margin-bottom: 12px;
}

.slogan {
  font-size: 1rem;
  text-align: center;
  color: #111;
  line-height: 1.4;
}

/* Partie droite */
.right {
  width: 70%;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 10px 5% 10px 5%;
  color: black;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Titre centré */
.right h2 {
  text-align: center;
  font-size: 1.6rem;
  color: #070707;
  margin-bottom: 30px;
}

/* Labels */
form label {
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
  font-size: 0.9rem;

}

/* Champs input et select stylisés */
form input,
form select {
  width: 520px;
  padding: 8px;
  border: 3px solid #ddd;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}


/* Bouton d'envoi comme .custom-blue */
.submit-btn {
  background-color: rgb(117, 170, 244);
  color: white;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 200px;
  padding: 5px 30px;
  border: none;
  font-size: medium;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
  width: fit-content;
  align-self: center;
}

.submit-btn:hover {
  background-color: #4c9ce3;
}

.form-group {
  margin-bottom: 15px;
  /* Ajuste à ton goût (10px, 15px, etc.) */
}

/* Footer */
footer {
  text-align: center;
  font-size: 0.8rem;
  color: #777;
  padding: 0px 0;
}

footer .author {
  color: #004aad;
  font-weight: bold;
}

/* Responsive Desktop HD */
@media screen and (min-width: 1440px) {
  .box {
    margin-top: 50px;
    height: 80vh;
    max-width: 1100px;
  }

  .right h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.8rem;
  }

  form input,
  form select {
    font-size: 1rem;
  }
}