

<div class="layout-container">
  <!-- Sidebar -->
  <div class="sidebar" [class.collapsed]="sidebarCollapsed">
    <app-menu [collapsed]="sidebarCollapsed" (menuItemClick)="onMenuItemClick($event)"></app-menu>
  </div>

  <!-- Contenu principal (Header + Page) -->
  <div class="main-wrapper">
    
    <!-- Header -->
    <header class="header">
      <app-header (toggleSidebar)="toggleSidebar()" (searchQuery)="onSearch($event)"></app-header>
    </header>

    <!-- Contenu de la page -->
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
