<!--------
<div class="container">
    <div class="left-box">
        <h4>Ajouter un utilisateur </h4>
        <div class="input-group">
            <span> Role </span>
            <select id="role"  name="role" required>
                <option value="" disabled selected>Sélectionnez un rôle</option>
                <option *ngFor="let r of roles" [value]="r">{{ r | titlecase }}</option>
            </select>
        </div>
        <div class="input-group">
            <span class="details">E-mail :</span>
            <input type="text" name="email" required style="text-align: left;">
        </div>

        <div class="input-group">
            <span class="details">Mot de passe :</span>
            <input type="password" name="password" required autocomplete="off"
                style="padding: 12px; width: 380px; border: 3px solid #ddd; border-radius: 5px; font-family: 'Roboto', sans-serif;">
        </div>

        <div class="but">
            <button class="save" (click)="ajouterUtilisateur()"
                [disabled]="!credentials.role || !credentials.email || !credentials.password">
                Enregistrer
            </button>
        </div>
    </div>

    <div class="right-box">
        <h4 style="margin-bottom: 10px;">Gestion des Utilisateurs</h4>

        <table *ngIf="utilisateurs.length > 0">
            <thead>
                <tr>
                    <th class="new">Id</th>
                    <th class="new">Role</th>
                    <th class="new">Email</th>
                    <th class="new">Password</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let credentials of utilisateurs; let i = index">
                    <td class="new">{{ i + 1 }}</td>
                    <td class="new">{{ credentials.role }}</td>
                    <td class="new">{{ credentials.email }}</td>
                    <td class="new">{{ credentials.password }}</td>
                </tr>
            </tbody>
        </table>

        <p *ngIf="utilisateurs.length === 0">Aucun utilisateur trouvé.</p>
    </div>

</div>

<PRE></PRE>
<PRE></PRE>


----->