<div class="container">
    <div class="box">

        <!-- Partie gauche -->
        <div class="left">
            <img src="../../../../assets/Images/logo1.png" alt="Logo" class="logo" />
            <p class="slogan">Simplifiez la gestion de votre école avec efficacité !!!</p>
        </div>

        <!-- Partie droite -->
        <div class="right">
            <h2>CONNEXION</h2>
            <form (ngSubmit)="onLogin()" #loginForm="ngForm">

                <div class="form-group">
                    <label for="email">Email :</label>
                    <input type="email" id="email" [(ngModel)]="credentials.email" name="email" required
                        #email="ngModel" />
                    <div *ngIf="email.invalid && email.touched" class="error">Email valide requis.</div>
                </div>

                <div class="form-group">
                    <label for="password">Mot de passe :</label>
                    <input [type]="passwordVisible ? 'text' : 'password'" id="password"
                        [(ngModel)]="credentials.password" name="password" required autocomplete="off"
                        #password="ngModel" />
                    <div *ngIf="password.invalid && password.touched" class="error">Le mot de passe est requis.</div>
                </div>

                <!-- ✅ Zone Afficher le mdp -->
                <div class="afficherMotDEpASSE">
                    <input type="checkbox" id="showPasswordCheckbox" (change)="togglePasswordVisibility()" />
                    <label for="showPasswordCheckbox">Afficher le mot de passe</label>
                </div>

                <button type="submit" class="submit-btn" [disabled]="loginForm.invalid">Se connecter</button>
            </form>
        </div>


    </div>
</div>

<footer>
    By <span class="author">Armel BEDJRA</span>
</footer>